<!DOCTYPE html>
<html>
  <head>
    <title>Devourer: DNS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dns.css" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/cytoscape.min.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/dns.js"></script>
  </head>
  <body>
    <h1>Devourer: DNS</h1>
    <div id="event_name"></div>
    <div id="event_data"><pre></pre></div>
    <div id="cy">
    </div>
  </body>
</html>
